<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit  Simuliyapacsbanking
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    
    <!--<add name="DBConnect" connectionString="Data Source=DESKTOP-5PE0365\SQLEXPRESS;Initial Catalog=pacsbanking;Persist Security Info=True;User ID=sa;Password=dbadmin;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <!--<add name="dbconnect" connectionString="data source=103.16.143.62,7089;initial catalog=amuliyapacsbanking;persist security info=true;user ID=sa;Password=~g4wm!h:#9;multipleactiveresultsets=true;" providerName="system.data.sqlclient"/>-->
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=kayapacsbanking;Persist Security Info=True;User ID=sa;Password=~G4Wm!H:#9;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>--> 
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=Borapacsbanking;Persist Security Info=True;User ID=sa;Password=~G4Wm!H:#9;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=pacsbanking;Persist Security Info=True;User ID=sa;Password=~G4Wm!H:#9;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=IslampurpacsBanking;Persist Security Info=True;User ID=sa;Password=~G4Wm!H:#9;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=Hanspurpacsbanking;Persist Security Info=True;User ID=sa;Password=2w$Y(N88F3wuETzn;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
   <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;initial catalog=Khiranda;Persist Security Info=True;User ID=sa;Password=2w$Y(N88F3wuETzn;MultipleactiveResultsets=True;" providerName="system.data.sqlclient"/>--> 
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=EvantageBanking;Persist Security Info=True;User ID=sa;Password=~G4Wm!H:#9;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="dbconnect" connectionString="data source=103.16.143.62,7089;initial catalog=bairampurpacsbanking;persist security info=true;user id=sa;password=~g4wm!h:#9;multipleactiveresultsets=true;application name=entityframework" providername="system.data.sqlclient"/>-->
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=Amuliyapacsbanking;Persist Security Info=True;User ID=sa;Password=~G4Wm!H:#9;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=Tangrapacsbanking;Persist Security Info=True;User ID=sa;Password=~G4Wm!H:#9;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=kastodangagram;Persist Security Info=True;User ID=sa;Password=2w$Y(N88F3wuETzn;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=Birohipacsbanking;Persist Security Info=True;User ID=sa;Password=~G4Wm!H:#9;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=NagarukharaBanking;Persist Security Info=True;User ID=sa;Password=~G4Wm!H:#9;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=MoktarpurPacsBanking;Persist Security Info=True;User ID=sa;Password=~G4Wm!H:#9;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=Batnapacsbanking;Persist Security Info=True;User ID=sa;Password=~G4Wm!H:#9;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
     <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=Kastodangapurba;Persist Security Info=True;User ID=sa;Password=2w$Y(N88F3wuETzn;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=AmuliyapacsBanking;Persist Security Info=True;User ID=sa;Password=~G4Wm!H:#9;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=Gobindapurpacsbanking;Persist Security Info=True;User ID=sa;Password=2w$Y(N88F3wuETzn;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConnect" connectionString="Data Source=103.16.143.62,7089;Initial Catalog=Karkipacsbanking;Persist Security Info=True;User ID=sa;Password=2w$Y(N88F3wuETzn;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
        <add name="DBConnect" connectionString="Data Source=103.107.66.161,2499;Initial Catalog=NagarukharaBanking;Persist Security Info=True;User ID=sa;Password=*!6R!ni5rup9;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

    
  <!--<add name="DBConnect" connectionString="Data Source=DEB\DEBSQL;Initial Catalog=BAIRAMPUR;Persist Security Info=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>-->
  
  </connectionStrings> 
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />                                                
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="smtpPort" value="25" />
    <add key="FromEmail" value="teamdotnet@gmail.com" />
    <add key="smtpUser" value="teamdotnet@gmail.com" />
    <add key="smtpPass" value="dotnet123" />
     <!--<add key="BasePage" value="http://cbssimuliya.evantagebanking.in/"/>--> 
   <!--<add key="BasePage" value="http://evantagebanking.in/"/>-->
    <add key="BasePage" value="http://localhost:50436/"/> 
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    
    <add key="SMSURLInit" value="http://smsw.co.in/API/WebSMS/Http/v1.0a/index.php" />
    <add key="SMSUser" value="evantage" />
    <add key="SMSPass" value="evan123" />
    <add key="SMSSender" value="KKSKUS" />
    <add key="societyname" value="BAIRAMPUR L/S PCACS LTD."/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full" />
    <httpHandlers>
     
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <!--<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
       
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime executionTimeout="999" maxRequestLength="4097151"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <!--<machineKey
validationKey="2EEA416CEFC6D6BE856ED57B97FB9CA7DFACE17C073125949A1D682C80A44BB2A
D887DDDC13DBFB0954F1000FEE5757E99693F222F8E28CAA2E6DAB8C4F99E0C"
decryptionKey="877478B2F33A74226ABEF55FDCC1A76E43F1BBEA6241A592"
validation="SHA1" />
    <compilation debug="false"/>
    <authentication mode="Windows"/>
    <pages enableViewStateMac="true"/>-->
  </system.web>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>-->
  <system.webServer>

    <!--<rewrite>
      <rules>
        <rule name="/default.aspx Redirect" stopProcessing="true">
          <match url="^(.*\/)*default\.aspx$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_METHOD}" negate="true" pattern="^POST$" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>-->


    <!--<rewrite>
      <rules>
        <rule name="DynamicRewrite" stopProcessing="true">
          <match url="(.aspx)" />
          <conditions>
            <add input="{REQUEST_FILENAME}\.aspx" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="/WebForm.aspx" />
        </rule>
      </rules>
    </rewrite>-->
    
    
    
    
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode"
        verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx"
        type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
        preCondition="integratedMode" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
</configuration>